@font-face {
    font-family: 'source_sans_proregular';
    src: url('sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --avatar-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    --avatar-border: 2px rgb(230, 230, 230) solid;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "source_sans_proregular", system-ui, sans-serif;
}

body {
    display: grid;
    grid-template: 1fr 9fr / 1fr 4fr;
}

/* SIDEBAR CSS */
.sidebar {
    background-color: rgb(82, 82, 255);
    * {
        color: white;
    }
    grid-area: 1 / 1 / -1 / 2;
    display: grid;
    width: 350px;
    grid-template-rows: 5rem 16rem 10rem;
        nav {
            align-self: end;
        }
}

.sidebar-title {
    grid-area: 1 / 1 / 2 / -1;
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    align-items: center;
        img {
            width: 70%;
            grid-area: 1 / 1 / 2 / 2;
            justify-self: center;
        }
        h1 { 
            grid-area: 1 / 2 / 3 / 2;
        }
}
.sidebar ol {
    display: grid;
    gap: 10px;
}
.sidebar li {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
    /* row-gap: 100px; */
        img {
            width: 1.4rem;
            grid-area: 1 / 1 / 2 / 2;
            justify-self: center;
        }
}

/* MAIN-CONTENT CSS */
.main-content {
    grid-area: 2 / 2 / -1 / -1;
    background-color: rgb(230, 230, 230);
}

/* HEADER CSS */
.header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 5rem 0.3fr / 2fr 1fr;
        img[src="imgs/avatar.jpeg"] {
            width: 90px;
            border-radius: 50%;
            border: var(--avatar-border);
            box-shadow: var(--avatar-shadow);
        }
        > div:first-child {
            grid-area: 1 / 1 / 2 / 3;
            display: grid;
            grid-template-columns: 1fr 300px;
            justify-items: start;
            align-items: center;
        }
        > div:last-child {
            grid-area: 2 / 1 / 3 / 3;
        }
        > div div:last-child {
            grid-area: 1 / 2 / 2 / 3;
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            column-gap: 20px;
                > img[src="imgs/avatar.jpeg"] {
                    width: 60px;
                    grid-area: 1 / 2 / 2 / 3;
                }
                > div {
                    grid-area: 1 / 3 / 2 / 4;
                }
        }
        form {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 80px 1fr;
            align-items: center;
            width: 100%;
            height: 100%;
                label {
                    padding-left: 40px;
                }
                input {
                    width: 85%;
                    height: 35%;
                    border: none;
                    border-radius: 30px;
                    background-color: rgb(214, 214, 214);
                    padding: 15px;
                        &:focus {
                            outline: none;
                            box-shadow: var(--avatar-shadow);
                            border: rgb(94, 94, 94, 0.1) solid 1px;
                        }
                }
        }
}

.header-icon {
    width: 1.5rem;
}

